/*

  NOTE: You must import base.scss to have access to any
  SASS mixins or variables not defined within this file!

*/

@import "../assets/stylesheets/base.scss";

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #18408B;
  
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $nnn;

}
