/*

  NOTE: You must import base.scss to have access to any
  SASS mixins or variables not defined within this file!

*/

@import "../assets/stylesheets/base.scss";

.widget-iframe {
  padding: 3px 0px 0px 0px !important;

  iframe {
    width: 100%;
    height: 100%;
  }
}
