/* Local webfonts */
@font-face {
    font-family: 'HandOfSeanRegular';
    src: url('/webfonts/handsean-webfont.eot');
    src: url('/webfonts/handsean-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/handsean-webfont.woff') format('woff'),
         url('/webfonts/handsean-webfont.ttf') format('truetype'),
         url('/webfonts/handsean-webfont.svg#HandOfSeanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {outline: 0;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* basics */

body {
  background: #13458d;
  color: #fff;
  padding: 5em 2em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 760px;
  margin: 0 auto;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

body.night {
  background: #222;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

a {
  color: #00B7FF;
}

ul {
  line-height: 2em;
}

li {
  margin-bottom: 0.25em;
}

/* general elements */

h1 {
  font-family: "din-web-reg", Helvetica, sans-serif;;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

h1.letsdo {
  text-align: center;
}

h1.letsdo .blank {
  display: inline-block;
  min-width: 300px;
  text-decoration: none;
  background: #fff;
  font-size: 1em;
  font-weight: normal;
  color: #333;
  margin: 0 0.2em;
  padding: 0 0.5em;
  text-transform: none;
  text-align: left;
  font-family: 'HandOfSeanRegular', sans-serif;
  cursor: default;
}

h2 {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-size: 1.5em;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-weight: 600;
  margin: 2em 0 0;
}

.menu {
  color: #000;
}

.menu ul {
  padding-left: 0;
}

.menu li {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-size: 1.25em;
  margin: 3px;
}

.menu li a {
  display: block;
  font-size: 1em;
  padding: 0.25em 0.75em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  background: rgba(0,0,0,0.1);
}

.menu li a strong {
  text-decoration: underline;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}

.menu li a:hover {
  background: rgba(0,0,0,0.5);
}

h1.period {
  float: left;
  width: 8%;
  padding: 0 1%;
}