/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {outline: 0;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* basics */

body {
  background: #13458d;
  color: #fff;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

a {
  color: #00B7FF;
}

ul {
  padding-left: 32px;
  line-height: 2em;
}

li {
  margin-bottom: 0.25em;
}

/* general elements */

#home_shortcut {
  position: fixed;
  z-index: 1;
  top: 12px;
  left: 12px;
  width: 32px;
  height: 32px;
  background: url('/images/snapback.png') no-repeat center center;
  opacity: 0.2;
}

#home_shortcut:hover {
  opacity: 1.0;
}

#home_shortcut span {
  display: none;
}

h1 {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-top: 0.2em;
}

h1 strong {
  font-size: 1em;
  color: #ffd200;
  font-weight: 600;
}

h1#weather {
  float: right;
  padding-left: 40px;
}

h1#weather span {
  font-size: 1em;
}

h1#weather.clear { background: url('images/weather/clear.png') no-repeat left center; }
h1#weather.moon_new { background: url('images/weather/moon_new.png') no-repeat left center; }
h1#weather.moon_crescent { background: url('images/weather/moon_crescent.png') no-repeat left center; }
h1#weather.moon_gibbous { background: url('images/weather/moon_gibbous.png') no-repeat left center; }
h1#weather.moon_full { background: url('images/weather/moon_full.png') no-repeat left center; }
h1#weather.cloudy { background: url('images/weather/cloudy.png') no-repeat left center; }
h1#weather.hail { background: url('images/weather/hail.png') no-repeat left center; }
h1#weather.rain { background: url('images/weather/rain.png') no-repeat left center; }
h1#weather.sleet { background: url('images/weather/sleet.png') no-repeat left center; }
h1#weather.snow { background: url('images/weather/snow.png') no-repeat left center; }
h1#weather.tstorm { background: url('images/weather/tstorm.png') no-repeat left center; }
h1#weather.unknown { background: url('images/weather/unknown.png') no-repeat left center; }
h1#weather.alert { background: url('images/weather/alert.png') no-repeat left center; }

#userprogress {
  display:block;
  background: #0e2551;
  width: 100%;
  height: 10px;
}

#userprogress .filled {
  display: block;
  background: #fff;
  width: 0%;
  height: 10px;
}

h1#users {
  margin-top: -0.2em;
  font-size: 115px;
  margin-bottom: 0;
  text-align: center;
}

h1#users .comma {
  font-size: 1em;
  position:relative;
  top: -5px;
}

h2#usergoal {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-size: 3.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-top: -0.8em;
  margin-left: 3px;
}

h3#social {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.75em 6px;
}

h3#social span {
  font-size: 1em;
  margin-left: 3em;
}

.widget {
  position: relative;
  background: #fff;
  color: #333;
  margin: 10px 10px 30px;
  padding: 30px 10px 10px;
}

.twocol {
  width: 46%;
  float: left;
}

/** section headings */
h4 {
  font-family: "din-web-reg", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  background: #1b1b1b;
  color: #fff;
  margin-top: 1em;
  padding: 0.2em 10px 0;
  display: inline-block;
  position: absolute;
  top: -35px;
  left: -10px;
}

h4 span {
  display: block;
  background: url('images/tilted-edge.png') no-repeat top right;
  position: absolute;
  bottom: -12px;
  right: 0;
  height: 12px;
  width: 100%;
}

.container {
  padding-top: 1em;
}

.messages li strong {
  font-family: "din-web-reg", Helvetica, sans-serif;
  color: #fff;
  background-color: #ccc;
  padding: 4px 10px 6px;
  margin-right: 0.5em;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#ticker {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background: #1b1b1b;
  margin-left: 0;
  overflow: hidden;
}

.ticker_tape {
  width: 100000px;
  position: absolute;
  right: 0;
}

.tweet {
  float: right;
  line-height: 2.4em;
  margin-right: 18px;
}

.twitter_avatar {
  display: block;
  float: left;
  margin: 5px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.twitter_name {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.twitter_msg {
  text-decoration: none; 
}

.twitter_message {
  color: #666;
}

.status {

}

.status ul {
  float: right;
  list-style-type: none;
  margin-right: 1em;
}

.status li {
  float: left;
  padding: 1em 1em 0.5em;
}

/** conference rooms */
.confrooms {
  height: 210px;
}

.confroom {
  float: left;
  display: block;
  width: 171px;
  margin: 5px;
  padding: 15px 5px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.confroom img {
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.confroom a {
  text-decoration: none;
  color: #333;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.confroom:hover {
  background: #eee;
  cursor: pointer;
}

.confroom:hover a {
  text-decoration: underline;
}

.confroom.inuse img {
  opacity: 0.5;
}

.confroom.inuse a {
  color: #ccc;
}

.confroom.inuse {
  color: #ccc;
}

.confroom.inuse strong {

}

.confroom em {
  display: block;
  font-style: normal;
}

.phonebooth {
  float: left;
  display: block;
  width: 447px;
  margin: 5px 5px 5px;
  padding: 10px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.phonebooth a {
  color: #333;
  text-decoration: none;
}

.phonebooth.inuse a {
  color: #ccc;
}

.phonebooth.inuse em {
  color: #ccc;
}

.phonebooth:hover {
  background: #eee;
  cursor: pointer;
}

.phonebooth:hover a {
  text-decoration: underline;
}

.phonebooth em {
  font-style: normal;
}

/* tech status */

.techstatus li {
  padding: 12px 40px;
}

li.code_push { background: url('images/icons/code_push.png') no-repeat left center; }
li.waiting_commits { background: url('images/icons/waiting_commits.png') no-repeat left center; }
li.open_tickets { background: url('images/icons/open_tickets.png') no-repeat left center; }
li.closed_tickets { background: url('images/icons/closed_tickets.png') no-repeat left center; }

/* now playing */

#rdio_widget:hover {
  cursor: pointer;
}

#rdio_widget:hover .nowplaying_clicker {
  background: #eee;
}

.nowplaying_clicker {
  width: 461px;
  height: 220px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#rdio_widget h5 {
  clear: both;
  font-family: "din-web-reg", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  padding-top: 1.25em;
  margin-left: 0.75em;
}

.queuedsong {
  height: 35px;
  clear: both;
}

.queuedsong img {
  float: left;
  margin: 8px 20px;
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.queuedsong_meta {
  padding-top: 17px;
}

#album_art {
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.album_meta {
  float: left;
  margin: 16px 10px 10px;
  padding-left: 0;
}

.album_meta li {
  margin-bottom: 0;
}

.track_progress {
  display: block;
  width: 320px;
  height: 4px;
  background: #ddd;
  margin-bottom: 7px !important;
  overflow: hidden;
}

#track_percent_complete {
  width: 0%;
  height: 4px;
  background: #333;
}

#song {
  font-weight: bold;
}

.rdio_actions {
  clear: both;
  padding: 15px;
  text-align: center;
}

.rdio_actions a {
  font-weight: bold;
  padding: 5px 5px 5px 30px;
  margin-right: 10px;
  background: no-repeat 5px 50%;
  color: #000;
  
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.rdio_actions a:hover {
  background-color: #eee;
  text-decoration: underline;
}

.rdio_actions .broadcast { background-image: url('images/icons/broadcast.png'); }
.rdio_actions #show_queuesong { background-image: url('images/icons/add.png'); }
.rdio_actions #show_skipsong { background-image: url('images/icons/skip.png'); }

.rdio_control {
  border: 1px solid #b1b1b1;
  padding: 10px;
  margin-top: 5px;
}

#ui_queuesong {
  position: relative;
}

#ui_queuesong:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 160px;
  display: block;
  width: 15px;
  height: 10px;
  background: transparent url('images/popup_tail.png') no-repeat center center;
}

#ui_queuesong .search {
  font-size: 1.2em;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  width: 385px;
}

#queue_searchresults {
  padding-top: 15px;
}

#queue_searchresults li {
  list-style-type: none;
  line-height: 2em;
}

#queue_searchresults a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  background-image: url('images/icons/broadcast.png');
  background-position: 8px 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

#queue_searchresults a:hover {
  background-color: #eee;
}

#ui_skipsong {
  position: relative;
  line-height: 2em;
}

#ui_skipsong:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 290px;
  display: block;
  width: 15px;
  height: 10px;
  background: transparent url('images/popup_tail.png') no-repeat center center;
}

a#do_skipsong {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 14px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 7px 12px;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  width: 150px;
}

a#do_skipsong:hover {
  background-color: #f37873;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
  background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  cursor: pointer;
}

a#do_skipsong:active {
  background-color: #d43c28;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
  background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}

a#do_skipsong.active {
  background-color: #ddd;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  font: bold 14px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 7px 33px;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  width: 150px;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#ui_skipsong em {
  color: #666;
  padding-left: 10px;
}


/* extras */

#footer {
  clear:both;
}

#error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  line-height: 20em;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  color: #fff;
}

